network/Node-1/data/caches/
network/Node-1/data/database/
network/Node-2/data/caches/
network/Node-2/data/database/
network/Node-3/data/caches/
network/Node-3/data/database/
network/Node-4/data/caches/
network/Node-4/data/database/